<!doctype html>
<html>
  <head>
    <title>First App</title>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>Hello world</h1>
    <input type="text" placeholder="Type something...">
    <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-6/541628011_1471759554242953_9120893615667795880_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFzC4JT1iMi5tvqcvPbJTJestwaJvKMOpOy3Bom8ow6k0pxhpdNeOKFkW1jzn8B7vEuuMGi2UJeTFLLkvoE2QOZ&_nc_ohc=tOX8kBXhAtIQ7kNvwHu_42S&_nc_oc=Adm1mYKslUC_-8-icT_VTJcRnG6oDG-8UE6Q2MKdVqDjjBAZITV5CXkOPYWgvwO8CkQJs7-Cxo9npupy0_k0H2NJ&_nc_zt=23&_nc_ht=scontent-hkg4-1.xx&_nc_gid=MdKxsqx3bbkvNH5wAswqdg&oh=00_AfZserUkU8cX6iesRsw5SbctFrMkoqcmUrtptWV4eVYx8g&oe=68C71007" alt="NTDH">

  </body>
</html>